
.error-main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ff6161; 
}
.error-img{
    width: 80%;
    height: auto;
    padding-top: 150px;
}
.error-msg{
    margin: 20px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-back-home{
  margin-top: 100px;
}