*{
    color: #ff6161;
}

.logement-main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    

}

.logement-img{
    height: 255px;
    width: 100%;

}
.logement-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
}

.logement-location{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
}
.logement-tags-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
}

.logement-tags-span{
    font-size: 10px;
    font-weight: 500;
    line-height: 14.26px;
    text-align: center;

    background-color: #ff6161;
    border-radius: 10px;
    color: #ffff;

    padding: 5px 15px;
    margin: 10px;
}





