.collapsible{
    border: red dotted 3px;

}

.Des-collapsible{
    // background-color: #ff6161;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}