.AboutDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    > img{
        max-height: 336px;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 15px;

    }
    &__AboutColla{
        // display: flex;
        >div{
            // border: dotted black 5px;
            width: 100%;
        }
        // flex-direction: column;
    }
    
}