.AboutDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > img{
        object-fit: cover;
        height: 223px;
        margin-bottom: 20px;
        border-radius: 15px;


    }
    &__AboutColla{
        padding-top: 20px;
        @media screen and (min-width: $breakpoint-large) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

        >div{
            @media screen and (min-width: $breakpoint-large) {
                width: 80%;


           
              }
        }
    }
    
}