@import "variables";


.carousel {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    
  
    .carousel__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      transition: opacity 0.9s ease; 
      
      &--prev {
        left: 0;
      }
  
      &--next {
        right: 0;
      }
    }
  
    .carousel__image-container {
        display: inline-block;
        max-height: 336px; 
        transition: opacity 0.9s ease;
        border-radius: 10px;
        width: 100%;
    }
  

    .carousel__image-container img {
        width: 100%;        
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.9s ease;


        @media screen and (min-width: $breakpoint-large) {
          max-height: 415px;
          
        }

    }
  }
  
  .carousel__image-container {
    opacity: 1;  
  }
  
  .carousel__image-container.hide {
    opacity: 0; 
  }
  
  .carousel__radios {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}

.carousel__radios input[type="radio"] {
    margin: 0 5px;
    cursor: pointer;
}