@import "_variables";

.collapsible {  
  margin-bottom: 20px;

  &{
    @media screen and (min-width: $breakpoint-large) {

      width: 48%;

    }}
    
    &__header {
    background-color: $color-Primaire;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    height: 30px;
    
    &--span{
      padding-left: 15px;
    }

    img {
        height: 18.5px;
        width: 30px;
        padding-right: 5px;
    }
  }

  &__content {
    color: $color-Primaire;
    background-color: $color-gray;
    padding: 20px 10px 15px 10px;
    border-radius: 10px;
    position: relative;
    margin-top: -20px;

    &>ul {


      list-style: none;

      padding-left:  0px;
      margin-top: 15px;


    }


  }
}
