@import "variables";

.error-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $color-Primaire; 

  &__img {
    width: 80%;
    height: auto;
    padding-top: 150px;
  }

  &__msg {
    margin: 20px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__back {
    margin-top: 100px;
    color: $color-Primaire;
  }
}
