.Footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 201px; 
    background-color: black;
    margin-top: 150px;

&__logo {
    width: 125px;
    height: 40px;
}

&__span {
    color: #fff;
}
}
