@import "variables";

.home {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  
  &__header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../assets/header-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 111px;
    width: 100%;
    & {
      @media screen and (min-width: $breakpoint-large) {
        height: 223px;
        max-width: 1280px;
        display: flex;
        justify-content: center;

      }}

    &-text {
      color: #ffffff;
      font-weight: 300;
      font-size: 24px;
      line-height: 24px;
      padding-left: 30px;

      & {
        @media screen and (min-width: $breakpoint-large) {

          font-weight: 500;
          font-size: 48px;
          line-height: 68px;
          max-width: 705px;
          display: flex;
          justify-content: center;
  
        }} 

    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    background-color: $color-gray;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    max-width: 1240px;


  }

  &__card {
    height: 255px;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(121, 21, 21, 0.7329525560224089) 0%,
      rgba(255, 97, 97, 1) 100% 
    );
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
    }

    & {
      @media screen and (min-width: $breakpoint-large) {

        max-height: 340px;
        max-width: 340px;

      }} 

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 25.67px;
      color: #ffffff;
      padding-left: 21px;
    }
  }
}

.home__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 0, 0), 
    rgba(0, 0, 0, 0.5) 
  ); 
  pointer-events: none;
  z-index: 1; 
}

.home__card img,
.home__card h2 {
  position: relative;
  z-index: 2; 
}

.br{
  @media screen and (min-width: $breakpoint-large) {

    display: none;


  }

}