.StyledHeaderDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.StyledHeaderDiv__Logo {
  height: 68px;
}
.StyledHeaderDiv__Ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 335px;
}
.StyledHeaderDiv__Li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.StyledHeaderDiv__Link {
  color: #ff6161;
  text-decoration: none;
}

.Footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 201px;
  background-color: black;
  margin-top: 15px;
}
.Footer-div__logo {
  width: 125px;
  height: 40px;
}
.Footer-div__span {
  color: #fff;
}

.error-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ff6161;
}
.error-main__img {
  width: 80%;
  height: auto;
  padding-top: 150px;
}
.error-main__msg {
  margin: 20px 50px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-main__back {
  margin-top: 100px;
}

.StyledBackgroundDiv {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/header-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 111px;
}
.StyledBackgroundDiv__Text {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  width: 217px;
  padding-left: 30px;
}

.Home-Div-Cont {
  height: 255px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(121, 21, 21, 0.732952556) 0%, rgb(255, 97, 97) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 20px 0px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
.Home-Div-Cont__h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
  color: #FFFFFF;
  padding-left: 21px;
}

.logement__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}
.logement__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: #ff6161;
}
.logement__location {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
  color: #ff6161;
}
.logement__tags--div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
}
.logement__tags--span {
  font-size: 10px;
  font-weight: 500;
  line-height: 14.26px;
  text-align: center;
  background-color: #ff6161;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  margin: 10px;
}
.logement__rating-owner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #ff6161;
}
.logement__description {
  width: 100%;
  height: fit-content;
}
.logement__owner-pic {
  height: 32px;
  border-radius: 50%;
}

.collapsible__header {
  background-color: #ff6161;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 0px 15px;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  height: 30px;
}
.collapsible__header img {
  height: 18.5px;
  width: 30px;
  padding-right: 5px;
}
.collapsible__content {
  color: #ff6161;
  background-color: #F6F6F6;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  position: relative;
  margin-top: -10px;
}
.collapsible__content--list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.collapsible__content--text {
  padding-left: 15px;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel .carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.9s ease;
}
.carousel .carousel__button--prev {
  left: 0;
}
.carousel .carousel__button--next {
  right: 0;
}
.carousel .carousel__image-container {
  display: inline-block;
  max-height: 336px;
  transition: opacity 0.9s ease;
  border-radius: 10px;
}
.carousel .carousel__image-container img {
  width: 100%;
  max-height: 100%;
  max-height: 336px;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.9s ease;
}

.carousel__image-container {
  opacity: 1;
}

.carousel__image-container.hide {
  opacity: 0;
}

.carousel__radios {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__radios input[type=radio] {
  margin: 0 5px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
